
.caption1{
    left: 35%; text-align: left;
}

.caption2{
    left: 40%;
}

.caption3{
    top: 50%; left: 50%;
}

.carousel-item {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }

.custom-carousel-height{
    height: 754px;
}

  .carousel-item img {
    object-fit: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
  .carousel-caption {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .carousel-caption h1 {
    font-size: 48px;
    margin-bottom: 1rem;
  }
  .carousel-caption p {
    font-size: 24px;
  }
  .image-text {
    color: white;
    bottom: 25px;
  }

  .image-text h4{
    margin-left: 25px;
  }
  .overlay-text img{
    background: transparent linear-gradient(180deg,rgb(13 28 52 / 0) 0,rgb(13 28 52 / 50%) 100%) 0 0 no-repeat padding-box;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4);
    border-radius: 21px;
}

  .image-container img{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4);
    border-radius: 21px;
  }

  .text-title-outline{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-text-stroke: 1px black;
  }
  
  .text-outline{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 0.7px black;
    letter-spacing: 1%;
    line-height: 25px;
    font-weight: bold;
    font-size: 20px;
  }

  .text-title-h3{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.9);
  }

  .bg-banner{
    background-image: url('../assets/landingpage/nikmati.png');
    background-repeat:no-repeat scroll;
    background-size: 100% 100%;
    min-height: 650px;
  }

  .width-banner{
    width: 722px;
  }

  .bg-travel{
    background-image: url('../assets/landingpage/pantai.jpg');
    background-repeat:no-repeat scroll;
    background-size: 100% 100%;
    min-height: 650px;
  }

  .p-travel{
    width: 268px;
  }

  .bg-footer{
    background-color: #157D92;
  }

  .bg-navbar{
    background: #157D92;
  }

  .collapse-navbar{
    height: 50px;
  }

  .sticky-component {
    width: 100%;
    transition: all 0.3s ease;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;
  }

  .bg-header-event{
    background-image: url('../assets/event/bg-event.png');
    background-size: 100% 100%;
    min-height: 650px;
  }

  .text-event{
    letter-spacing: 5px;
  }

  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .event-title{
    text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.2);
    color: black;    
  }

  .bg-wisata{
    background-image: url('../assets/wisata/bg-wisata.png');
    background-repeat:no-repeat scroll;
    background-size: 100% 100%;
    min-height: 650px;
  }
  .bg-mitra{
    background-image: url('../assets/gunung.jpg');
    background-repeat:no-repeat scroll;
    background-size: 100% 100%;
    min-height: 600px;
  }
  .bg-mitra2{
    background-image: url('../assets/batikkecil.jpeg');
    background-repeat:no-repeat scroll;
    background-size: 50% 100%;
    min-height: 100px;
  }


  .carousel-item {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
  .carousel-item img {
    object-fit: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
  .carousel-caption {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .carousel-caption-h1 {
    font-size: 48px;
    margin-bottom: 1rem;
  }
  .carousel-caption-p {
    font-size: 24px;
  }
  .image-text {
    color: white;
    bottom: 25px;
  }

  .image-text h4{
    margin-left: 25px;
  }

  .image-container img{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4);
    border-radius: 21px;
  }

  .text-title-outline{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-text-stroke: 1px black;
  }
  
  .text-outline{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 0.7px black;
    letter-spacing: 1%;
    line-height: 25px;
    font-weight: bold;
    font-size: 20px;
  }

  .text-title-h3{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.9);
  }

  .text-hero-wisata{
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
    -webkit-text-stroke: 0.5px black;
    font-weight: bold;
  }
  .text-hero-wisata1{
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
    -webkit-text-stroke: 0.5px black;
    font-weight: normal;
  }

  .custom-carousel{
    height: 768px;
  }

  .carousel-caption-wisata{
    position: absolute;
    top: 50%;
    transform: translate(-50%, 50%);
  }
  
  .carousel-wisata-style{
    position: absolute; top: 0px; left: 0px; z-index: 1; width: 100%; height: 100%;display: flex;
  }

  .carousel-div-img{
    width: 40%;
  }

  .carousel-div-img img{
    width: 358px; height: 449px; margin-top: 160px; margin-left: 137px;
  }

  .carousel-div-text{
    width: 55%;
  }

  .hero-wisata-margin-1{
    margin-top: 150px;
  }

  .hero-wisata-margin-2{
    margin-top: 35px;
  }

  .tentang-margin-1{
    margin-top: 150px;
    /* font-size: 60px; */
  }

  .bg-tentang{
    background-image: url('../assets/tentang/background.jpg');
    background-repeat:no-repeat scroll;
    background-size: 100% 100%;
    min-height: 650px;
  }
  .mitra-margin-1{
    margin-top: 150px;
  }
  .mitra-margin-2{
    margin-top: 35px;
  }

  h3{
    font-size: 20px;
    line-height: 100px;
    text-align: center;
  }

  .first-dev{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
  }

  .des-text{
   width: 45%;
   text-align: center;
   font-size: 1.1rem; 
  }

  .des-text h3{
    padding-bottom: 0 rem;
  }

  .image{
    position: relative;
    width: 50%;
    display: flex;
    justify-content:space-between;
    z-index: -99;
  }

  .image img{
    width: 49%;
    height: 350px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
  }

   .image img:nth-child(2){
    position: absolute;
    top: -10%;
    right: 0;
   }

   @media screen and (max-width: 850px) {
    .first-dev{
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: space-between;
      margin-top: 2.5rem;
    }

    .des-text{
      width: 100%;
    }

    .image {
      width: 100%;
      margin: 1.8rem 0;
    }

    .image img{
      height: 250px;
    }
   }

  .tripcard{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between; 
    margin: 6rem 8rem;
  }
  .t-card{
    width: 32%;
    text-align: center;
    box-shadow: 0 5px 25px 2px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    cursor: pointer;
    padding: 1rem .8rem;

  }

  .t-image{
   height: 200px;
   overflow: hidden;
   border-radius: 7px; 
  }

  .t-image img{
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in-out;
    border-radius: 7px;
  }

  .t-image:hover img{
    transform: scale(1.3);
  }

  .t-card h4{
    font-size: 1rem;
    padding: .9rem 0 .2rem;
  }
   
@media screen and (max-width:850px) {
  .tripcard {
   flex-direction: column;

  }
  .t-card{
    width: 100%;
    margin-bottom: 1.5rem;
  }
  
}
.bg-bannerTentang{
  background-image: url('../assets/tentang/nikmati.png');
  background-repeat:no-repeat scroll;
  background-size: 100% 100%;
  min-height: 650px;
}

.carousel-tentang {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.carousel-tentang img {
  width: 80%;
  /* margin: 3.5rem 0; */
  height: 80%;
  margin: 5.5rem 8rem;
 
}

.two-dev-reverse{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
 
}

.dev-text{
  width: 45%;
   text-align: center;
   font-size: 1.1rem; 
   flex-direction: row-reverse;
}

.dev-text h1{
  font-size: 20px;
  color: white;
}

.dev-text p{
  color: white;
  font-size: 15px;
  text-align: left;
  margin-right: 10rem 8rem;
  margin: 10px;
  border-radius: 21px;
}

form{
  display: block;
  background-color: white;
  box-shadow: 1px 1px 3px 2px #dddd;
  margin: 40px auto;
  max-height: 600px;
  max-height: 700px;
  padding: 20px;
  font-family: "Poppins";
  text-align: center;

}

form input, textarea{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 10px auto;
  padding: 8px;
  font-family: "Poppins";
  background-color: #f3f3f3;
  border: 1px solid #ddd;
}

form span{
  color: rgb(29, 185, 237);
  text-align: center;
}
  
.bg-header-pantai{
  background-image: url('../assets/kapal2.jpg');
  background-repeat:no-repeat scroll;
  background-size: 100% 100%;
  min-height: 600px;
}

.bg-header-gunung{
  background-image: url('../assets/gunung.jpg');
  background-repeat:no-repeat scroll;
  background-size: 100% 100%;
  min-height: 600px;

}

.bg-header-kuliner{
  background-image: url('../assets/kuliner.jpg');
  background-repeat:no-repeat scroll;
  background-size: 100% 100%;
  min-height: 600px;
}

.bg-header-sejarah{
  background-image: url('../assets/sejarah.jpg');
  background-repeat:no-repeat scroll;
  background-size: 100% 100%;
  min-height: 600px;
}

.header-h1{
 text-align: right;
}
